@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

html{
    height: 100%;
}

body{
    height: 100%;
    background-color: #0d47a1;
    /* background-color: #023e7d; */
    display: grid;
    grid-template-rows: 80px 1fr;
    
}

header{
    color: #dee2e6;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    gap: 50px;
}

header>div:first-child{
    display: flex;
    align-items: center;
    gap: 10px;
}

header>div:first-child img{
    height: 4rem;
    padding-left: 10px;
}

header>div:first-child span{
    font-size: 1.75rem;
    font-weight: 800;
}

header>div:last-child{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

header>div:last-child>div{
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 5px;
    height: 25px;
    width: 60px;
    font-weight: 700;
    background-color: #00072d;
}

header>div:last-child>div:hover{
    border: 2px solid white;
}

header>div:last-child>div:first-child{
    border: 2px solid white;
}


#search{
    display: flex;
    align-items: center;
    justify-content: center;
}

#search input{
    box-sizing: border-box;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 25px;
    padding: 5px;
    width: 300px;
}

#search input:focus{
    outline: none;
}

#search button{
    border: none;
    outline: none;
    background-color: white;
    height: 25px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
}

#search img{
    height: 20px;
}

#content-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 100px;
    height: 40px;
    --g: radial-gradient(farthest-side,#0000 calc(95% - 3px),#fff calc(100% - 3px) 98%,#0000 101%) no-repeat;
    background: var(--g), var(--g), var(--g);
    background-size: 30px 30px;
    animation: l9 1s infinite alternate;
  }
  @keyframes l9 {
    0% {
      background-position: 0 50%, 50% 50%, 100% 50%;
    }
    20% {
      background-position: 0 0, 50% 50%, 100% 50%;
    }
    40% {
      background-position: 0 100%, 50% 0, 100% 50%;
    }
    60% {
      background-position: 0 50%, 50% 100%, 100% 0;
    }
    80% {
      background-position: 0 50%, 50% 50%, 100% 100%;
    }
    100% {
      background-position: 0 50%, 50% 50%, 100% 50%;
    }
  }