@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

html{
    height: 100%;
}

body{
    height: 100%;
    width: 100%;
    background-color: #0d47a1;
    /* background-color: #023e7d; */
}

body>div{
    height: 100%;
    overflow: auto;
    display: grid;
    grid-template-rows: 80px 1fr;
}

header{
    color: #dee2e6;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    gap: 50px;
}

header>div:first-child{
    display: flex;
    align-items: center;
    gap: 10px;
}

header>div:first-child img{
    height: 4rem;
    padding-left: 10px;
}

header>div:first-child span{
    font-size: 1.75rem;
    font-weight: 800;
}

header>div:last-child{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

header>div:last-child>div{
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 5px;
    height: 25px;
    width: 60px;
    font-weight: 700;
    background-color: #00072d;
    cursor: pointer;
}

header>div:last-child>div:hover{
    border: 2px solid white;
}

header>div:last-child>div:first-child{
    border: 2px solid white;
}


#search{
    display: flex;
    align-items: center;
    justify-content: center;
}

#search input{
    box-sizing: border-box;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 25px;
    padding: 5px;
    width: 300px;
}

#search input:focus{
    outline: none;
}

#search button{
    border: none;
    outline: none;
    background-color: white;
    height: 25px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
}

#search img{
    height: 20px;
}

#content-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 100px;
    height: 40px;
    --g: radial-gradient(farthest-side,#0000 calc(95% - 3px),#fff calc(100% - 3px) 98%,#0000 101%) no-repeat;
    background: var(--g), var(--g), var(--g);
    background-size: 30px 30px;
    animation: l9 1s infinite alternate;
  }
  @keyframes l9 {
    0% {
      background-position: 0 50%, 50% 50%, 100% 50%;
    }
    20% {
      background-position: 0 0, 50% 50%, 100% 50%;
    }
    40% {
      background-position: 0 100%, 50% 0, 100% 50%;
    }
    60% {
      background-position: 0 50%, 50% 100%, 100% 0;
    }
    80% {
      background-position: 0 50%, 50% 50%, 100% 100%;
    }
    100% {
      background-position: 0 50%, 50% 50%, 100% 50%;
    }
}

#content-body>h3:first-child{
    font-weight: 500;
    color: #dee2e6;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

#content-body>h3:first-child>img{
    height:2rem;
}

#content-body>h3:first-child>span{
    box-sizing: border-box;
    padding-top: 3px;
    display: block; 
    font-size: 1.5rem;
}

#content-body>h3:nth-child(3){
    font-weight: 500;
    color: #dee2e6;
    margin-top: 30px;
    box-sizing: border-box;
    padding-right: 540px;
}

.current-card{
    background: #0d47a1 none center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card-contents{
    color: #dee2e6;
    height: 210px;
    width: 600px;
    padding: 15px 15px 10px 15px;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    background-color: rgba(0, 0, 0, 0.5);

}

.card-contents p{
    font-weight: 300;
}

.card-contents>div:first-child{
    display: flex;
    justify-content: space-between;
}


#reload-btn{
    height: 1.5rem;
    cursor: pointer;
}

#current-temperature{
    display: flex;
}

#currentWeather-icon{
    display: block;
    height: 8rem;
    margin-top: -30px;
    margin-left: -20px;
}

#current-temperature>div{
    display:flex;
    margin-left: -15px;
}

#current-temperature h1{
    font-size: 3.25rem;
}

#current-temperature h2{
    font-size: 2rem;
    padding-top: 6px;
}

#current-temperature>div:last-child{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    padding-top: 12px;
    padding-left: 15px;
}

#description{
    margin-top: -20px;
}

#data{
    margin-top: -20px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.forecast-card{
    background-color: #0d47a1;
    margin-top: 40px;
    margin-bottom: 20px;
}

#forecast-content{
    color: #dee2e6;
    height: 210px;
    width: 600px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
}

#forecast-content>div:first-child{
    display: flex;
    justify-content: space-between;
}

#forecast-content>div:first-child>div{
    display: flex;
    gap: 20px;
}

#forecast-content>div:first-child>div>p:first-child{
    border-bottom: 2px solid white;
}

#forecast-content>div:first-child>div>p:hover{
    border-bottom: 2px solid white;
    cursor: pointer;
}

#forecast-data{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

#forecast-data>div{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgba(108, 117, 125,0.5);
    border-top: 2px solid rgba(108, 117, 125,0.5);
}

#forecast-data>div:nth-of-type(n+2){
    border-left: 2px solid rgba(108, 117, 125,0.5);
}

#forecast-data>div>h4{
    padding-left: 8px;
}

#forecast-data>div>p{
    font-size: 0.9rem;
    padding-left: 8px;
}

.forecast-icon{
    height: 3rem;
    width: 3rem;
}

#forecast-data>div>div{
    padding-top: 15px;
    padding-left: 8px;
    padding-bottom: 10px;
}

.rain{
    height: 1.2rem;
}

.rain-container{
    font-size: 0.9rem;
    display: flex;
    gap: 5px;
}

.wind{
    height: 1.2rem;
}

.wind-container{
    font-size: 0.9rem;
    display: flex;
    gap: 5px;
}

.forecast-time{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.forecast-time>p{
    text-align: center;
    font-size: 0.9rem;
    padding-top: 10px;
}

.error{
    color:#dee2e6;
    font-weight: 500;
}


